@font-face {
    font-family: font-texto;
    src: url("../fonts/Raleway-Medium.otf");
}

* {
    font-family: font-texto;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0 auto;
}

.hero {
    display: flex;
    background-image: url("../images/background.jpg");
    width: 1440px;
    height: 954px;
}

.caixa-titulo {
    width: 705px;
    height: 954px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    width: 705px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10px;
}

.titulo h1 {
    font-family: font-texto;
    font-size: 59px;
    color: white;
    margin-bottom: 120px;
}

.titulo .h1-menor {
    font-family: font-texto;
    font-size: 20px;
    color: white;
}

.hist {
    color: #F9B333;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9B333;
    width: 1440px;
    height: 70px;
    z-index: 2;
}

.div-logo {
    width: 990px;
    height: 100px; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.elementos-nav {
    width: 990px;
    height: 100px; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.elementos-nav li{
    display: inline-block;
    font-size: 20px;
    font-family: font-texto;
    border-radius: 20px;
    padding: 10px;
    color: white;
    transition: all .5s;
}

.elementos-nav li:hover {
    font-size: 25px;
}

.elementos-nav-espaco ul{
    width: 330px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    display: flex;
    color: white;
    text-decoration: none;
    flex-wrap: nowrap;
    align-items: center;
}



a:visited {
    color: white;
}

#logo {
    width: 70px;
    transition: all 1s;
}

#logo:hover {
    -xpedu-transform: rotatez(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
    transition-duration: 1s;
}

.tudo {
    width: 1440px;
    min-height: 2048px;
}

.pag1 {
    width: 1440px;
    min-height: 1024px;
    background-image: linear-gradient(315deg, #1e1e1e 10%, #101010 90%);
}

.titulo-pag1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 200px;
}

.titulo-pag1-dentro {
    width: 920px;
    height: 200px;
    margin-top: 90px;
}

.titulo-pag1 h1{
    font-family: font-texto;
    font-size: 50px;
    color: #F9B333;
    text-align: center;
}

.videos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 824px;
    width: 1440px;
}

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
.carousel-container {
display: flex;
transition: transform 0.3s ease-in-out;
}

.carousel-item {
width: 100%;
flex-shrink: 0;
}

.carousel-item iframe {
width: 75%;
height: 620px;
border: 5px solid #F9B333;
border-radius: 10px;
position: relative;
left: 180px;
z-index: 1;
}

.carousel-titles {
display: flex;
justify-content: center;
margin-top: 10px;
}

.carousel-titles button {
margin: 0 10px;
padding: 5px 10px;
border: none;
background-color: #F9B333;
font-size: 14px;
cursor: pointer;
font-family: font-texto;
color: white;
border-radius: 10px;
transition: all .5s;
}

.carousel-titles button.active {
background-color: #dd8e18;
}

.carousel-titles button:hover {
    font-size: 20px;
}

.pag2 {
    width: 1440px;
    min-height: 1024px;
    background-image: linear-gradient(225deg, #1e1e1e 10%, #101010 90%);
}

.titulo-pag2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 200px;
}

.titulo-pag2-dentro {
    width: 920px;
    height: 200px;
    margin-top: 90px;
}

.titulo-pag2 h1{
    font-family: font-texto;
    font-size: 50px;
    color: #F9B333;
    text-align: center;
    margin-top: 60px;
}

.artigos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-texto {
    background-image: linear-gradient(225deg, #ffd68b 14%, #f9b333 50%, #eca41f 93%);
    overflow: hidden;
    border-radius: 16px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    max-width: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .5s;
    box-shadow: rgba(255,214,139,0.3) 0px 5px 15px;
}


.card-texto:hover {
    background-image: linear-gradient(225deg, #e39a2d 15%, #dd8e18 47%, #d48208 93%);
}

.card-texto .img{
    background-image: url("https://static.todamateria.com.br/upload/56/63/5663201a85f64-tragedia-grega.jpg");
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.85;
    transition: all 1s;
}

.card-texto:hover .img {
    opacity: 1;
    width: 550px;
}

.artigos .img span {
    font-size: 24px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: bold;
}

.card-texto .content {
    padding: 0px 20px;
    overflow: hidden;
    height: 0;
    transition: all 1s;
    transform: translateY(30px);
    opacity: 0;
}

.card-texto:hover .content{
    padding: 20px;
    height: 450px;
    transform: translateY(0px);
    opacity: 1;
}

.card-texto .content .title {
    font-size: 24px;
    font-weight: bold;
}

.card-texto .content p {
    margin-bottom: 0;
}

.card-texto .content .desc {
    font-size: 14px;
    font-weight: 100;
    opacity: .7;
}

.card-texto .arrow {
    padding: 15px;
    font-size: 28px;
    transform: rotate(-180deg);
    transition: all .5s;
}

.card-texto:hover .arrow {
    transform: rotate(0);
}

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer .rodape {
    background-image: linear-gradient(225deg, #414141 2%, #3d3d3d 92%);
    min-height: 350px;
    width: 1440px;
    color: white;
}
