@font-face {
    font-family: font-texto;
    src: url("../fonts/Raleway-Medium.otf");
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0 auto;
}

.hero {
    display: flex;
    background-image: url("../images/background.jpg");
    width: 1440px;
    height: 954px;
}

.caixa-titulo {
    width: 705px;
    height: 954px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    width: 705px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10px;
}

.titulo h1 {
    font-family: font-texto;
    font-size: 59px;
    color: white;
    margin-bottom: 120px;
}

.titulo .h1-menor {
    font-family: font-texto;
    font-size: 20px;
    color: white;
}

.hist {
    color: #F9B333;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9B333;
    width: 1440px;
    height: 70px;
    z-index: 2;
}

.div-logo {
    width: 990px;
    height: 100px; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.elementos-nav {
    width: 990px;
    height: 100px; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.elementos-nav li{
    display: inline-block;
    font-size: 20px;
    font-family: font-texto;
    border-radius: 20px;
    padding: 10px;
    color: white;
}

.elementos-nav li:hover {
    font-size: 25px;
    transition-duration: 0.5s;
}

.elementos-nav-espaco ul{
    width: 330px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

#logo {
    width: 70px;
}

#logo:hover {
    -xpedu-transform: rotatez(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
    transition-duration: 1s;
}

.tudo {
    width: 1440px;
    height: 2048px;
}

.pag1 {
    width: 1440px;
    height: 1024px;
    background-image: linear-gradient(315deg, #1e1e1e 10%, #101010 90%);
}

.titulo-pag1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 200px;
}

.titulo-pag1-dentro {
    width: 920px;
    height: 200px;
    margin-top: 90px;
}

.titulo-pag1 h1{
    font-family: font-texto;
    font-size: 50px;
    color: #F9B333;
    text-align: center;
}

.videos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 824px;
    width: 1440px;
}

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
.carousel-container {
display: flex;
transition: transform 0.3s ease-in-out;
}

.carousel-item {
width: 100%;
flex-shrink: 0;
}

.carousel-item iframe {
width: 75%;
height: 620px;
border: 5px solid #F9B333;
border-radius: 10px;
position: relative;
left: 180px;
z-index: 1;
}

.carousel-titles {
display: flex;
justify-content: center;
margin-top: 10px;
}

.carousel-titles button {
margin: 0 10px;
padding: 5px 10px;
border: none;
background-color: #F9B333;
font-size: 14px;
cursor: pointer;
font-family: font-texto;
color: white;
border-radius: 10px;
}

.carousel-titles button.active {
background-color: #3d321e;
}

.carousel-titles button:hover {
    font-size: 20px;
    transition-duration: 0.5s;
}

.pag2 {
    width: 1440px;
    height: 1024px;
    background-image: linear-gradient(225deg, #1e1e1e 10%, #101010 90%);
}

.titulo-pag2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 200px;
}

.titulo-pag2-dentro {
    width: 920px;
    height: 200px;
    margin-top: 90px;
}

.titulo-pag2 h1{
    font-family: font-texto;
    font-size: 50px;
    color: white;
    text-align: center;
}